<div class="row">

<div class="criar-btn">
        <a href="/admin/categorias/criar">Criar nova categoria</a> 
</div>

<div class="col-12" ng-include="'/partials/admin/partials/status-mensagens.html'"></div>
<div class="col-12" ng-include="'/partials/admin/partials/erros-validacao.html'"></div>


    <div class="col-12">
        <div class="row header">
                <div class="col-4">Categoria</div>
                <div class="col-8">Opções</div>
        </div>
    </div>
        <div ng-repeat="categoria in categorias" class="col-12 data admin-categoria">
            <div class="row">
                    <div class="col-4">{{categoria.designacao}}</div>
                    <div class="col-8 opcoes">
                        <a href="#" class="editar-categoria" ng-click="editarCategoria(categoria)">Editar</a> | <!---
                    --><form method="POST" class="apagar-categoria" ng-submit="apagarCategoria(categoria.id);"> 
                            <input type="hidden" name="id" value="{{categoria.id}}">
                            <button class="pointer">Apagar</button>
                        </form>
                    </div>
            </div>
            <div>
                 
                
                    
        </div>
    </div>
</div>